{% extends 'base.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block style %}
    .helptext{
        display: none;
    }
{% endblock %}
{{ user.profile.bio }}

{% block content %}
    <h1>Edit Settings</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-1" style="width: 100%">
                if you want to change the password use this <a href="{% url 'password_change' %}">Form</a>
            </div>
            <br/>
            <div class="col-1" style="width: 100%">
                <button class="btn btn-secondary">Update Profile</button>
            </div>
        </form>
    </div>
    <br/><br/>

{% endblock %}
