{% extends 'base.html' %}


{% block content %}
    <h1 style="text-align: center">PPM Blog</h1>
    <h3>All Posts</h3>

    <ul>
    {% for post in object_list %}
    	<li style="list-style-type: none">
            <div class="card">
              <div class="card-header">
                  <h4><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h4>
                  <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
                - {{ post.author.first_name }} {{ post.author.last_name }}
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <small>
                        - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                        </small>
                    {% endif %}
                {% endif %}
              </div>
              <div class="card-body">
                <p>{{ post.snippet | slice:":500" | safe}}</p>
              </div>
              <div class="card-footer text-body-secondary text-center">
                {{ post.post_date }}
              </div>
            </div>
            <br/><br/><br/>
        </li>
    {% endfor %}
    </ul>

{% endblock %}

